  
<div class="jumbotron mt-4">
  <h1 class="display-4">Notes App Nodejs And Mongodb</h1>
  <p class="lead">Simple App to create, read, update and delete notes depending on the user who has the active session. The App was implemented with Nodejs, Express, Mongodb and Javascript</p>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
</div>